includes:
    - phpstan-baseline.neon

parameters:
 level: 9
 paths:
    - src
    - tests
 treatPhpDocTypesAsCertain: false
 checkMissingIterableValueType: false
 checkGenericClassInNonGenericObjectType: false
